.container
  padding-bottom: 2.5rem
  
.headline
  width: fit-content

  text-align: center
  font-size: 28pt
  font-style: italic

  color: inherit

  border: none
  border-bottom: 2px solid white

  // Input properties
  background: none
  outline: none
