.homepageLanding {
  width: 100%;
  height: fit-content;
  background: black;
  /* background-image: url("/img/space.jpg");
  background-position: center;
  background-size: cover; */

  position: relative;
  display: flex;
  flex-direction: column;

  color: white;
}

.centerize {
  width: fit-content;
  height: fit-content;
  margin: 6rem auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}
