.container {
  width: 100%;
  height: calc(100vh - 70px);

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heading {
  width: fit-content;
  margin: 0 auto;

  font-family: quicksand, Arial, Helvetica, sans-serif;
}

.paragraph {
  width: fit-content;
  max-width: 260px;
  margin: 0 auto;
  margin-top: 0.5rem;

  text-align: center;
  
}

.goHome {
  margin: 0 auto;
  margin-top: 1rem;

  color: #333;
}

.goHome:hover {
  color: #000;
}
