.data {
  width: 100%;
  height: fit-content;
  background-image: url("/img/stars.jpg");
  background-position: center;
  background-size: cover;

  display: flex;
  flex-direction: column;

  color: white;

  position: relative;
}

.center {
  width: fit-content;
  height: fit-content;
  margin: 4rem auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  z-index: 20;
}

.darkenBackground {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(24, 24, 24, 0.5);

  z-index: 10;
}
